body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 0;
  background-color: #24272e;
}
header{
  background: white;
  padding: 20px;
  
}
header>h1{
  margin: 0;
  color: #24272e;
  text-align: center;
  font-family: Asap, sans-serif;
  
}

ol{
  list-style-type: none;
}
ol, ul {
  padding-left: 30px;
}

.board-row
{
  display: flex;  
  justify-content:  center;
}
.board-row:after {
  clear: both;
  content: "";
}

.status {
  margin-bottom: 10px;
}

.square {
  background-color: #24272e;
  border: 2px solid white;
  float: left;
  font-size: 40px;
  font-weight: bold;
  color: green;
  line-height: 34px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 15%;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  margin: 20px auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content:  center;
  text-align: center;

}


.game-info {
  margin: 20px;
 
}

.status-div{
  color: white;
  font-size: 40px;
  font-weight: bold;
}
